.button {
  font-family: 'Righteous', cursive;
  backbround: rgba(255,255,255,0.4);
  padding: .3rem .6rem;
  font-size: 1.4rem;
  border-radius: 5px;
  background: #fff;
  border: 3px solid #0D3B66;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.3);
  transition: .25s;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 2px 0px rgba(0,0,0,0.2);
  }

  &:active {
    transform: scale(.9);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.4);
  }
}
