.start-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #ffd89b, #19547b);
  background-size: 300% auto;
  animation: move-start-screen-background 5s infinite alternate linear;

  @keyframes move-start-screen-background {
    0% {
      background-position: top left;
    }
    100% {
      background-position: bottom right;
    }
  }

  &__heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to left, #ffd89b, #19547b);
    background-size: 300% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move-start-screen-background 5s infinite alternate-reverse linear;
  }
}
