.center-text {
  text-align: center;
}

.tempt-user {
  animation: tempt-user infinite 15s alternate;
}

@keyframes tempt-user {
  0%, 20%, 43%, 50%, 62%, 76%, 88%, 100% {
    transform: scale(1) rotate(0deg);
  }
  15%, 47%, 54%, 79%  {
    transform: scale(1.03) rotate(8deg);
  }
  37%, 70%, 90% {
    transform: scale(.96) rotate(-4deg);
  }
}

.tempt-user--shadow {
  animation: tempt-user--shadow infinite 25s alternate-reverse;
}

@keyframes tempt-user--shadow {
  0%, 20%, 43%, 50%, 62%, 76%, 88%, 100% {
    transform: scale(1) rotate(0deg);
    box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.3);
  }
  15%, 47%, 54%, 79%  {
    transform: scale(1.03) rotate(8deg);
    box-shadow: -3px 2px 10px 3px rgba(0,0,0,0.3);
  }
  37%, 70%, 90% {
    transform: scale(.96) rotate(-4deg);
    box-shadow: 3px -2px 10px 3px rgba(0,0,0,0.3);
  }
}

.hue-rotation-animation {
  animation: hue-rotation-animation 4s alternate infinite;
}

@keyframes hue-rotation-animation {
  0% {
    filter: hue-rotate(0deg);
    // transform: rotate(-5deg);
  }
  100% {
    filter: hue-rotate(360deg);
    // transform: rotate(5deg);
  }
}
